<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistencia QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<br>
          <img src="assets\img\logoDUOCUC.png" style="margin-left:-5%"  >
<ion-card>
  <ion-card-content>
    <ion-card-label>   - -    Registrar Asistencia.   - - </ion-card-label>
    <ion-card-label></ion-card-label> 
    <br>
    <br>

    <ion-label></ion-label>
    <img src="assets\icon\RegistrAPP.jpg" class="avatar" style="margin-left:10%"  >
    <form>
      <ion-row>
        <ion-col>
          <br>
          <br>
        </ion-col>
      </ion-row>
    </form>

  </ion-card-content>
</ion-card>
</ion-content>